-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: travel_itinerary_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `travel_itinerary_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `travel_itinerary_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `travel_itinerary_db`;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `admin_id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `reset_token` varchar(128) DEFAULT NULL,
  `reset_expires` datetime DEFAULT NULL,
  PRIMARY KEY (`admin_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'Admin','adminpeck2222@gmail.com','$2y$10$LBMEG72pdE..zMt9mhynsO0u8XmNXnWcAjEmSnw/G5lcanabmiKGW','2025-12-13 07:31:55',NULL,NULL);
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_chat_logs`
--

DROP TABLE IF EXISTS `ai_chat_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ai_chat_logs` (
  `chat_id` int(11) NOT NULL AUTO_INCREMENT,
  `itinerary_id` int(11) NOT NULL,
  `traveller_id` int(11) NOT NULL,
  `user_message` text NOT NULL,
  `ai_response` mediumtext NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`chat_id`),
  KEY `idx_ai_chat_itinerary` (`itinerary_id`),
  KEY `idx_ai_chat_traveller` (`traveller_id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_chat_logs`
--

LOCK TABLES `ai_chat_logs` WRITE;
/*!40000 ALTER TABLE `ai_chat_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_chat_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `audit_id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_id` int(11) DEFAULT NULL,
  `action` varchar(80) NOT NULL,
  `entity_type` varchar(80) NOT NULL,
  `entity_id` int(11) DEFAULT NULL,
  `details` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`audit_id`),
  KEY `idx_audit_admin` (`admin_id`),
  KEY `idx_audit_entity` (`entity_type`,`entity_id`),
  CONSTRAINT `fk_audit_admin` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`admin_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cultural_place_suggestions`
--

DROP TABLE IF EXISTS `cultural_place_suggestions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cultural_place_suggestions` (
  `suggestion_id` int(11) NOT NULL AUTO_INCREMENT,
  `traveller_id` int(11) NOT NULL,
  `state` varchar(60) NOT NULL,
  `district` varchar(80) DEFAULT NULL,
  `category` enum('culture','heritage','museum','food','festival','nature','shopping') NOT NULL,
  `name` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `opening_hours` varchar(1000) DEFAULT NULL,
  `estimated_cost` decimal(10,2) DEFAULT NULL,
  `image_url` varchar(1000) DEFAULT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `approved_by_admin_id` int(11) DEFAULT NULL,
  `approved_place_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `approved_at` timestamp NULL DEFAULT NULL,
  `review_note` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`suggestion_id`),
  KEY `idx_status` (`status`),
  KEY `idx_state_category` (`state`,`category`),
  KEY `fk_sugg_traveller` (`traveller_id`),
  KEY `fk_sugg_admin` (`approved_by_admin_id`),
  KEY `fk_suggestions_approved_place` (`approved_place_id`),
  CONSTRAINT `fk_sugg_admin` FOREIGN KEY (`approved_by_admin_id`) REFERENCES `admins` (`admin_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_sugg_traveller` FOREIGN KEY (`traveller_id`) REFERENCES `travellers` (`traveller_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_suggestions_approved_place` FOREIGN KEY (`approved_place_id`) REFERENCES `cultural_places` (`place_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cultural_place_suggestions`
--

LOCK TABLES `cultural_place_suggestions` WRITE;
/*!40000 ALTER TABLE `cultural_place_suggestions` DISABLE KEYS */;
/*!40000 ALTER TABLE `cultural_place_suggestions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cultural_places`
--

DROP TABLE IF EXISTS `cultural_places`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cultural_places` (
  `place_id` int(11) NOT NULL AUTO_INCREMENT,
  `state` varchar(60) NOT NULL,
  `district` varchar(80) DEFAULT NULL,
  `category` enum('culture','heritage','museum','food','festival','nature','shopping') NOT NULL,
  `name` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `opening_hours` varchar(1000) DEFAULT NULL,
  `festival_start_date` date DEFAULT NULL,
  `festival_end_date` date DEFAULT NULL,
  `estimated_cost` decimal(10,2) DEFAULT NULL,
  `entrance_fee` decimal(8,2) NOT NULL DEFAULT 0.00,
  `is_free` tinyint(1) NOT NULL DEFAULT 0,
  `image_url` varchar(1000) DEFAULT NULL,
  `halal_status` tinyint(1) DEFAULT NULL,
  `is_outdoor` tinyint(1) DEFAULT NULL,
  `visit_duration_min` int(11) NOT NULL DEFAULT 90,
  `best_time_to_visit` varchar(100) DEFAULT NULL,
  `dress_code_required` tinyint(1) DEFAULT NULL,
  `website_url` varchar(300) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `avg_rating` decimal(3,2) DEFAULT NULL,
  `rating` decimal(3,2) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_by_admin_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`place_id`),
  KEY `idx_state_category` (`state`,`category`),
  KEY `fk_place_admin` (`created_by_admin_id`),
  KEY `idx_cultural_festival_dates` (`category`,`festival_start_date`,`festival_end_date`),
  CONSTRAINT `fk_place_admin` FOREIGN KEY (`created_by_admin_id`) REFERENCES `admins` (`admin_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=369 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cultural_places`
--

LOCK TABLES `cultural_places` WRITE;
/*!40000 ALTER TABLE `cultural_places` DISABLE KEYS */;
/*!40000 ALTER TABLE `cultural_places` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `food_places`
--

DROP TABLE IF EXISTS `food_places`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `food_places` (
  `food_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `state` varchar(60) NOT NULL,
  `district` varchar(80) DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `cuisine_type` varchar(80) DEFAULT NULL,
  `avg_price` decimal(10,2) DEFAULT 15.00,
  `rating` decimal(3,1) DEFAULT 3.5,
  `opening_hour` varchar(120) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`food_id`),
  KEY `idx_state` (`state`),
  KEY `idx_coords` (`latitude`,`longitude`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `food_places`
--

LOCK TABLES `food_places` WRITE;
/*!40000 ALTER TABLE `food_places` DISABLE KEYS */;
/*!40000 ALTER TABLE `food_places` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hotels`
--

DROP TABLE IF EXISTS `hotels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hotels` (
  `hotel_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `state` varchar(60) NOT NULL,
  `district` varchar(80) DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `price_per_night` decimal(10,2) DEFAULT 100.00,
  `rating` decimal(3,1) DEFAULT 3.5,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`hotel_id`),
  KEY `idx_state` (`state`),
  KEY `idx_coords` (`latitude`,`longitude`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hotels`
--

LOCK TABLES `hotels` WRITE;
/*!40000 ALTER TABLE `hotels` DISABLE KEYS */;
/*!40000 ALTER TABLE `hotels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itineraries`
--

DROP TABLE IF EXISTS `itineraries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `itineraries` (
  `itinerary_id` int(11) NOT NULL AUTO_INCREMENT,
  `traveller_id` int(11) NOT NULL,
  `preference_id` int(11) NOT NULL,
  `title` varchar(120) NOT NULL,
  `start_date` date DEFAULT NULL,
  `total_days` int(11) NOT NULL,
  `origin_name` varchar(255) DEFAULT NULL,
  `origin_lat` decimal(10,7) DEFAULT NULL,
  `origin_lng` decimal(10,7) DEFAULT NULL,
  `selected_hotel_id` int(11) DEFAULT NULL,
  `selected_hotel_name` varchar(150) DEFAULT NULL,
  `selected_hotel_nights` int(11) NOT NULL DEFAULT 0,
  `selected_hotel_total_cost` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total_estimated_cost` decimal(10,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`itinerary_id`),
  KEY `fk_it_traveller` (`traveller_id`),
  KEY `fk_it_pref` (`preference_id`),
  KEY `idx_itinerary_selected_hotel` (`selected_hotel_id`),
  CONSTRAINT `fk_it_pref` FOREIGN KEY (`preference_id`) REFERENCES `traveller_preferences` (`preference_id`),
  CONSTRAINT `fk_it_traveller` FOREIGN KEY (`traveller_id`) REFERENCES `travellers` (`traveller_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itineraries`
--

LOCK TABLES `itineraries` WRITE;
/*!40000 ALTER TABLE `itineraries` DISABLE KEYS */;
/*!40000 ALTER TABLE `itineraries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itinerary_items`
--

DROP TABLE IF EXISTS `itinerary_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `itinerary_items` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `itinerary_id` int(11) NOT NULL,
  `day_no` int(11) NOT NULL,
  `sequence_no` int(11) NOT NULL,
  `item_type` enum('attraction','food','festival','transport','hotel','note') DEFAULT 'attraction',
  `place_id` int(11) DEFAULT NULL,
  `hotel_id` int(11) DEFAULT NULL,
  `item_title` varchar(150) NOT NULL,
  `item_latitude` decimal(10,7) DEFAULT NULL,
  `item_longitude` decimal(10,7) DEFAULT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `estimated_cost` decimal(10,2) DEFAULT 0.00,
  `distance_km` decimal(8,2) DEFAULT NULL,
  `travel_time_min` int(11) DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`item_id`),
  KEY `idx_itinerary_day` (`itinerary_id`,`day_no`,`sequence_no`),
  KEY `idx_item_place` (`place_id`),
  KEY `idx_item_hotel` (`hotel_id`),
  CONSTRAINT `fk_item_hotel` FOREIGN KEY (`hotel_id`) REFERENCES `hotels` (`hotel_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_item_it` FOREIGN KEY (`itinerary_id`) REFERENCES `itineraries` (`itinerary_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_item_place` FOREIGN KEY (`place_id`) REFERENCES `cultural_places` (`place_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=106 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itinerary_items`
--

LOCK TABLES `itinerary_items` WRITE;
/*!40000 ALTER TABLE `itinerary_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `itinerary_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `malaysia_states`
--

DROP TABLE IF EXISTS `malaysia_states`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `malaysia_states` (
  `state_id` int(11) NOT NULL AUTO_INCREMENT,
  `state_name` varchar(60) NOT NULL,
  PRIMARY KEY (`state_id`),
  UNIQUE KEY `uq_malaysia_state_name` (`state_name`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `malaysia_states`
--

LOCK TABLES `malaysia_states` WRITE;
/*!40000 ALTER TABLE `malaysia_states` DISABLE KEYS */;
INSERT INTO `malaysia_states` VALUES (1,'Johor'),(2,'Kedah'),(3,'Kelantan'),(14,'Kuala Lumpur'),(16,'Labuan'),(4,'Melaka'),(5,'Negeri Sembilan'),(6,'Pahang'),(7,'Penang'),(8,'Perak'),(9,'Perlis'),(15,'Putrajaya'),(10,'Sabah'),(11,'Sarawak'),(12,'Selangor'),(13,'Terengganu');
/*!40000 ALTER TABLE `malaysia_states` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ratings_reviews`
--

DROP TABLE IF EXISTS `ratings_reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ratings_reviews` (
  `review_id` int(11) NOT NULL AUTO_INCREMENT,
  `place_id` int(11) NOT NULL,
  `traveller_id` int(11) NOT NULL,
  `rating` tinyint(4) NOT NULL,
  `review_text` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`review_id`),
  UNIQUE KEY `uq_review_place_traveller` (`place_id`,`traveller_id`),
  KEY `idx_review_place` (`place_id`),
  KEY `idx_review_traveller` (`traveller_id`),
  CONSTRAINT `fk_reviews_place` FOREIGN KEY (`place_id`) REFERENCES `cultural_places` (`place_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_reviews_traveller` FOREIGN KEY (`traveller_id`) REFERENCES `travellers` (`traveller_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_review_rating` CHECK (`rating` between 1 and 5)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ratings_reviews`
--

LOCK TABLES `ratings_reviews` WRITE;
/*!40000 ALTER TABLE `ratings_reviews` DISABLE KEYS */;
INSERT INTO `ratings_reviews` VALUES (1,46,11,5,'','2026-05-13 03:09:35',NULL);
/*!40000 ALTER TABLE `ratings_reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `remember_tokens`
--

DROP TABLE IF EXISTS `remember_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `remember_tokens` (
  `token_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_role` enum('traveller','admin') NOT NULL,
  `user_id` int(11) NOT NULL,
  `selector` varchar(32) NOT NULL,
  `token_hash` char(64) NOT NULL,
  `expires_at` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`token_id`),
  UNIQUE KEY `uq_remember_selector` (`selector`),
  KEY `idx_remember_user` (`user_role`,`user_id`),
  KEY `idx_remember_expires` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `remember_tokens`
--

LOCK TABLES `remember_tokens` WRITE;
/*!40000 ALTER TABLE `remember_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `remember_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shared_itineraries`
--

DROP TABLE IF EXISTS `shared_itineraries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shared_itineraries` (
  `share_id` int(11) NOT NULL AUTO_INCREMENT,
  `itinerary_id` int(11) NOT NULL,
  `share_token` varchar(64) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`share_id`),
  UNIQUE KEY `uq_share_token` (`share_token`),
  KEY `idx_share_itinerary` (`itinerary_id`),
  CONSTRAINT `fk_shared_itinerary` FOREIGN KEY (`itinerary_id`) REFERENCES `itineraries` (`itinerary_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shared_itineraries`
--

LOCK TABLES `shared_itineraries` WRITE;
/*!40000 ALTER TABLE `shared_itineraries` DISABLE KEYS */;
INSERT INTO `shared_itineraries` VALUES (2,49,'093ffa995eee592ad876ad4068992a52',1,'2026-05-11 07:37:27');
/*!40000 ALTER TABLE `shared_itineraries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travel_interests`
--

DROP TABLE IF EXISTS `travel_interests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `travel_interests` (
  `interest_id` int(11) NOT NULL AUTO_INCREMENT,
  `interest_code` varchar(40) NOT NULL,
  `interest_label` varchar(80) NOT NULL,
  PRIMARY KEY (`interest_id`),
  UNIQUE KEY `uq_travel_interest_code` (`interest_code`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travel_interests`
--

LOCK TABLES `travel_interests` WRITE;
/*!40000 ALTER TABLE `travel_interests` DISABLE KEYS */;
INSERT INTO `travel_interests` VALUES (1,'culture','Culture'),(2,'heritage','Heritage'),(3,'food','Food'),(4,'museum','Museum'),(5,'nature','Nature'),(6,'shopping','Shopping'),(7,'festival','Festival');
/*!40000 ALTER TABLE `travel_interests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `traveller_preference_interests`
--

DROP TABLE IF EXISTS `traveller_preference_interests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `traveller_preference_interests` (
  `preference_id` int(11) NOT NULL,
  `interest_id` int(11) NOT NULL,
  PRIMARY KEY (`preference_id`,`interest_id`),
  KEY `idx_tpi_interest` (`interest_id`),
  CONSTRAINT `fk_tpi_interest` FOREIGN KEY (`interest_id`) REFERENCES `travel_interests` (`interest_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_tpi_preference` FOREIGN KEY (`preference_id`) REFERENCES `traveller_preferences` (`preference_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `traveller_preference_interests`
--

LOCK TABLES `traveller_preference_interests` WRITE;
/*!40000 ALTER TABLE `traveller_preference_interests` DISABLE KEYS */;
INSERT INTO `traveller_preference_interests` VALUES (2,3),(3,2),(4,3),(6,1),(6,2),(6,3),(6,4),(6,5),(6,6),(6,7),(8,1),(8,3),(11,1),(11,2),(11,3),(11,4),(11,5),(11,6),(11,7),(13,1),(13,3),(13,5);
/*!40000 ALTER TABLE `traveller_preference_interests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `traveller_preference_states`
--

DROP TABLE IF EXISTS `traveller_preference_states`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `traveller_preference_states` (
  `preference_id` int(11) NOT NULL,
  `state_id` int(11) NOT NULL,
  PRIMARY KEY (`preference_id`,`state_id`),
  KEY `idx_tps_state` (`state_id`),
  CONSTRAINT `fk_tps_preference` FOREIGN KEY (`preference_id`) REFERENCES `traveller_preferences` (`preference_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_tps_state` FOREIGN KEY (`state_id`) REFERENCES `malaysia_states` (`state_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `traveller_preference_states`
--

LOCK TABLES `traveller_preference_states` WRITE;
/*!40000 ALTER TABLE `traveller_preference_states` DISABLE KEYS */;
INSERT INTO `traveller_preference_states` VALUES (2,1),(3,1),(4,1),(8,1),(11,1),(13,1);
/*!40000 ALTER TABLE `traveller_preference_states` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `traveller_preferences`
--

DROP TABLE IF EXISTS `traveller_preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `traveller_preferences` (
  `preference_id` int(11) NOT NULL AUTO_INCREMENT,
  `traveller_id` int(11) NOT NULL,
  `trip_days` int(11) NOT NULL,
  `budget` decimal(10,2) NOT NULL,
  `budget_tier` enum('budget','normal','luxury') NOT NULL DEFAULT 'normal',
  `transport_type` enum('car','public_transport','walking','motorcycle') DEFAULT 'car',
  `traveller_type` enum('solo','couple','family','group') NOT NULL DEFAULT 'solo',
  `travel_pace` enum('relaxed','normal','packed') NOT NULL DEFAULT 'normal',
  `dietary_preference` enum('none','halal','vegetarian') NOT NULL DEFAULT 'none',
  `preferred_visit_time` enum('any','morning','afternoon','evening') NOT NULL DEFAULT 'any',
  `accessibility_needs` varchar(120) DEFAULT NULL,
  `interests` set('culture','food','nature','shopping','museum','heritage','festival') NOT NULL,
  `preferred_states` varchar(255) DEFAULT NULL,
  `preferred_districts` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`preference_id`),
  KEY `fk_pref_traveller` (`traveller_id`),
  CONSTRAINT `fk_pref_traveller` FOREIGN KEY (`traveller_id`) REFERENCES `travellers` (`traveller_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `traveller_preferences`
--

LOCK TABLES `traveller_preferences` WRITE;
/*!40000 ALTER TABLE `traveller_preferences` DISABLE KEYS */;
/*!40000 ALTER TABLE `traveller_preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travellers`
--

DROP TABLE IF EXISTS `travellers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `travellers` (
  `traveller_id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `force_password_change` tinyint(1) NOT NULL DEFAULT 0,
  `phone` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `activation_token` varchar(128) DEFAULT NULL,
  `activation_expires` datetime DEFAULT NULL,
  `reset_token` varchar(128) DEFAULT NULL,
  `reset_expires` datetime DEFAULT NULL,
  PRIMARY KEY (`traveller_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travellers`
--

LOCK TABLES `travellers` WRITE;
/*!40000 ALTER TABLE `travellers` DISABLE KEYS */;
/*!40000 ALTER TABLE `travellers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'travel_itinerary_db'
--

--
-- Dumping routines for database 'travel_itinerary_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-28 17:38:23
